In [32]:
#Question 1

a = 0
def b():
    global a
    a = c(a)
def c(a):
    return a + 2

b()
b()
b()
a




#The value displayed when the last expression a is evaluated will be 6.


#When the module is imported into the interpreter, the global variable a is initialized with a value of 0. The module also defines two functions b and c.

#The b function modifies the value of the global variable a by calling the c function with a as an argument. The c function takes an argument a, adds 2 to it, and returns the result.

#When we execute b() three times in a row, each call to b will modify the value of the global variable a by adding 2 to it. The first call to b() sets a to 2, the second call sets a to 4, and the third call sets a to 6.

#Finally, when we evaluate the expression a, it returns the current value of the global variable a, which is 6

6

In [34]:
#Question 2

def file_length(file_name):
    try:
        with open(file_name) as file:
            contents = file.read()
            print(len(contents))
    except:
        print(f"File {file_name} not found.")

In [36]:
file_length('midterm.py')
file_length('idterm.py')

50
File idterm.py not found.

In [39]:
#Question3

class Marsupial:
    def __init__(self):
        self.pouch = []

    def put_in_pouch(self, item):
        self.pouch.append(item)

    def pouch_contents(self):
        return self.pouch

In [40]:
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
print(m.pouch_contents())  # ['doll', 'firetruck', 'kitten']

['doll', 'firetruck', 'kitten']

In [41]:
#Question 3..continuous

class Kangaroo(Marsupial):
    def __init__(self, x=0, y=0):
        super().__init__()
        self.x = x
        self.y = y

    def jump(self, dx, dy):
        self.x += dx
        self.y += dy

    def __str__(self):
        return f"I am a Kangaroo located at coordinates ({self.x},{self.y})"

In [42]:
k = Kangaroo(0, 0)
print(k)
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
print(k.pouch_contents())
k.jump(1, 0)
k.jump(1, 0)
k.jump(1, 0)
print(k)

I am a Kangaroo located at coordinates (0,0)
['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (3,0)

In [44]:
#Question 4

def collatz(x):
    print(x)
    if x == 1:
        return
    elif x % 2 == 0:
        collatz(x // 2)
    else:
        collatz(3 * x + 1)

In [45]:
collatz(1)

1

In [46]:
collatz(10)

10
5
16
8
4
2
1

In [47]:
#Question5

def binary(n):
    if n == 0:
        return '0'
    else:
        return binary(n // 2) + str(n % 2)

In [48]:
binary(0)

'0'

In [49]:
binary(1)

'01'

In [50]:
binary(3)

'011'

In [51]:
binary(9)

'01001'

In [52]:
#Question 6

from html.parser import HTMLParser

class HeadingParser(HTMLParser):
    def __init__(self):
        super().__init__()
        self.headings = []

    def handle_starttag(self, tag, attrs):
        try:
            if tag.startswith('h'):
                self.headings.append((int(tag[1:]), ''))
        except ValueError:
            print(f"Invalid tag: {tag}")


    def handle_endtag(self, tag):
        pass

    def handle_data(self, data):
        if self.headings:
            last_heading = self.headings[-1]
            self.headings[-1] = (last_heading[0], last_heading[1] + data.strip())

    def print_headings(self):
        for heading in self.headings:
            print(' ' * heading[0] + heading[1])

# Test with w3c.html


with open('w3c.html', 'r') as f:
    html = f.read()

parser = HeadingParser()
parser.feed(html)
parser.print_headings()

Invalid tag: html
Invalid tag: head
 W3C Mission
  Principles

In [53]:
#Question7

from urllib.request import urlopen
from bs4 import BeautifulSoup

def webdir(url, depth, indent):
    print(' ' * indent + url)
    if depth == 0:
        return
    try:
        html = urlopen(url)
    except:
        return
    soup = BeautifulSoup(html, 'html.parser')
    links = soup.find_all('a')
    for link in links:
        href = link.get('href')
        if href.startswith('http'):
            webdir(href, depth-1, indent+1)

In [54]:
webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html', 2, 0)

http://reed.cs.depaul.edu/lperkovic/csc242/test1.html

In [21]:
#Question 8

#import librabries

import pandas as pd
import sqlite3

In [2]:
#install the ipython-sql library
!pip install ipython-sql

Requirement already satisfied: ipython-sql in c:\users\saran\anaconda3\lib\site-packages (0.5.0)
Requirement already satisfied: sqlparse in c:\users\saran\anaconda3\lib\site-packages (from ipython-sql) (0.4.3)
Requirement already satisfied: sqlalchemy>=2.0 in c:\users\saran\anaconda3\lib\site-packages (from ipython-sql) (2.0.4)
Requirement already satisfied: ipython in c:\users\saran\anaconda3\lib\site-packages (from ipython-sql) (7.31.1)
Requirement already satisfied: prettytable in c:\users\saran\anaconda3\lib\site-packages (from ipython-sql) (3.6.0)
Requirement already satisfied: six in c:\users\saran\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in c:\users\saran\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.2.0 in c:\users\saran\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.3.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\saran\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (1.1.1)
Requirement already satisfied: traitlets>=4.2 in c:\users\saran\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: backcall in c:\users\saran\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: colorama in c:\users\saran\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.4.5)
Requirement already satisfied: pygments in c:\users\saran\anaconda3\lib\site-packages (from ipython->ipython-sql) (2.11.2)
Requirement already satisfied: setuptools>=18.5 in c:\users\saran\anaconda3\lib\site-packages (from ipython->ipython-sql) (63.4.1)
Requirement already satisfied: matplotlib-inline in c:\users\saran\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\saran\anaconda3\lib\site-packages (from ipython->ipython-sql) (3.0.20)
Requirement already satisfied: pickleshare in c:\users\saran\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: jedi>=0.16 in c:\users\saran\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.18.1)
Requirement already satisfied: decorator in c:\users\saran\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: wcwidth in c:\users\saran\anaconda3\lib\site-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\saran\anaconda3\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)

In [3]:
#create a dataframe to import data

df=pd.DataFrame({'City': ['Mumbai' , 'Mumbai', 'Mumbai','Mumbai','London','London','London','London','Cairo','Cairo','Cairo','Cairo'],
                'Country':['India','India','India','India','United Kingdom','United Kingdom','United Kingdom','United Kingdom','Egypt','Egypt','Egypt','Egypt'],
                'Season':['Winter','Spring','Summer','Fall','Winter','Spring','Summer','Fall','Winter','Spring','Summer','Fall'],
                'Temperature(C)':['24.8','28.4','27.9','27.6','4.2','8.3','15.7','10.4','13.6','20.7','27.7','22.2'],
                'Rainfall(mm)': ['5.9','16.2','1549.4','346.0','207.7','169.6','157.0','218.5','16.5','6.5','0.1' ,'4.5']})

df

      City         Country  Season Temperature(C) Rainfall(mm)
0   Mumbai           India  Winter           24.8          5.9
1   Mumbai           India  Spring           28.4         16.2
2   Mumbai           India  Summer           27.9       1549.4
3   Mumbai           India    Fall           27.6        346.0
4   London  United Kingdom  Winter            4.2        207.7
5   London  United Kingdom  Spring            8.3        169.6
6   London  United Kingdom  Summer           15.7        157.0
7   London  United Kingdom    Fall           10.4        218.5
8    Cairo           Egypt  Winter           13.6         16.5
9    Cairo           Egypt  Spring           20.7          6.5
10   Cairo           Egypt  Summer           27.7          0.1
11   Cairo           Egypt    Fall           22.2          4.5

In [4]:
cnn = sqlite3.connect("jupyter_sql_tutorial.db")
df.to_sql('Seasonal_Weather',cnn)
%load_ext sql
%sql sqlite:///jupyter_sql_tutorial.db

In [15]:
%%sql

SELECT *
FROM Seasonal_Weather;

 * sqlite:///jupyter_sql_tutorial.db
Done.

[(0, 'Mumbai', 'India', 'Winter', '24.8', '5.9'),
 (1, 'Mumbai', 'India', 'Spring', '28.4', '16.2'),
 (2, 'Mumbai', 'India', 'Summer', '27.9', '1549.4'),
 (3, 'Mumbai', 'India', 'Fall', '27.6', '346.0'),
 (4, 'London', 'United Kingdom', 'Winter', '4.2', '207.7'),
 (5, 'London', 'United Kingdom', 'Spring', '8.3', '169.6'),
 (6, 'London', 'United Kingdom', 'Summer', '15.7', '157.0'),
 (7, 'London', 'United Kingdom', 'Fall', '10.4', '218.5'),
 (8, 'Cairo', 'Egypt', 'Winter', '13.6', '16.5'),
 (9, 'Cairo', 'Egypt', 'Spring', '20.7', '6.5'),
 (10, 'Cairo', 'Egypt', 'Summer', '27.7', '0.1'),
 (11, 'Cairo', 'Egypt', 'Fall', '22.2', '4.5')]

In [16]:
%%sql

SELECT * 
FROM Seasonal_Weather WHERE Country='India';

 * sqlite:///jupyter_sql_tutorial.db
Done.

[(0, 'Mumbai', 'India', 'Winter', '24.8', '5.9'),
 (1, 'Mumbai', 'India', 'Spring', '28.4', '16.2'),
 (2, 'Mumbai', 'India', 'Summer', '27.9', '1549.4'),
 (3, 'Mumbai', 'India', 'Fall', '27.6', '346.0')]

In [17]:
%%sql

SELECT * FROM Seasonal_Weather WHERE Season='Fall';

 * sqlite:///jupyter_sql_tutorial.db
Done.

[(3, 'Mumbai', 'India', 'Fall', '27.6', '346.0'),
 (7, 'London', 'United Kingdom', 'Fall', '10.4', '218.5'),
 (11, 'Cairo', 'Egypt', 'Fall', '22.2', '4.5')]

In [55]:
#Question9

words = ['The','quick', 'brown', 'fox', 'jumps', 'over',
'the', 'lazy', 'dog']

uppercase_words = [word.upper() for word in words]
print(uppercase_words)

lowercase_words = [word.lower() for word in words]
print(lowercase_words)

word_lengths = [len(word) for word in words]
print(word_lengths)

word_info = [[word.upper(), word.lower(), len(word)] for word in words]
print(word_info)

long_words = [word for word in words if len(word) >= 4]
print(long_words)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
[3, 5, 5, 3, 5, 4, 3, 4, 3]
[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]
['quick', 'brown', 'jumps', 'over', 'lazy']